html body {
	margin: 0;
}

.container {
	width: 100%;
	height: 100%;
	position: fixed;
	margin: 0;
	padding: 0;
	display: flex;
	direction: column;
	flex-wrap: wrap;
}

.header {
	width: 100%;
	height: 12.5%;
	background: rgb(5,195,221);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.heading {
	padding-left: 20px;
}

.controls {
	padding-right: 20px;
}

.control {
	width: 40px;
	height: 30px;
}

.calendar {
	width: 100%;
	height: 87.5%;
}

table {
	height: 100%;
	width: 100%;
}

table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
}

thead {
	width: 100%;
	height: 14.285%;
}

tbody {
	width: 100%;
	height: 85.715%;
}

thead tr {
	display: flex;
	width: 100%;
	height: 100%;
}

tbody tr {
	display: flex;
	width: 100%;
	height: 16.66%;
}

th, td {
	background-color: #96D4D4;
	width: 12.5%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}